@header-background-color: #ec4141;
@sider-background-color: #d4d7be;
@footer-background-color: #ec4141;

@width:1020px;
@height:680px;
html,
body {
    padding: 0;
    margin: 0;
}
#header {

    background-color: @header-background-color;
}

#sider {
    background-color: @sider-background-color;
}

#footer {
    background-color: @footer-background-color;
}