@header-background-color: #ec4141;
@sider-background-color: #ffffff;
@footer-background-color: #ffffff;

@header-height: 62px;
@footer-height: 71px;
@middle-height: calc(100vh - @header-height - @footer-height);
@sider-width: 200px;
@middle-top: @header-height;
@middle-bottom: @footer-height;
@content-width: calc(100vw - @sider-width);

/* 右下角按钮的颜色 */
@button-normal-color:#bfbfbf;


@width:1020px;
@height:680px;
html,
body {
    padding: 0;
    margin: 0;
}
#header {

    background-color: @header-background-color;
}

#sider {
    background-color: @sider-background-color;
    user-select:none;
}

#footer {
    background-color: @footer-background-color;
    user-select:none;
}
// 设置鼠标为小手
.cursor-pointer{
    cursor:pointer ;
}
// 禁止选中
.no-select {
    user-select:none;
}
// 允许选中
.select {
    user-select:text !important;
}
// 定义滚动条样式
.scroll::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 5px;
}