.footer-left-box{
    height: 80px;
    display: flex;
    align-items: center;
}
.picture{
    display: inline-flex;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    overflow: hidden;

    img {
        width: 50px;
        height: 50px; 
    }
}
.content {
    height: 50px;
    width: 150px;
    margin-left: 12px;
    display: inline-block;
    overflow: hidden;
    .name {
        display: inline-block;
        height: 30px;
        width: 150px;
        font-size: 18px;
        font-family:cursive,serif, sans-serif;
    }
    .source {
        display: inline-block;
        height: 30px;
        width: 150px;
        font-family: cursive;
    }
    .singers{
        display: inline-block;
        height: 30px;
        max-width: 50px;
    }
    .album{
        display: inline-block;
        height: 30px;
    }
}
